<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesen.cod.layoutlibrary">

    <application>
        <activity
            android:name=".v1.test.TestActivity"
            android:exported="true" />

        <activity
            android:name=".v2.test.TestActivityV2"
            android:exported="true" />
    </application>
</manifest>
